body {
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-image: url("./assets/images/bg.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

*,
ul,
a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

img {
  border: 0;
}

.btn {
  width: auto;
  display: flex;
  max-width: 100%;
  font-size: 16px;
  min-width: 180px;
  font-weight: 600;
  line-height: 18px;
  padding: 12px 24px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  box-shadow: 0px 3px 5px lightgrey;
}

.btn img {
  margin-right: 10px;
}

.btn-black {
  color: #ffffff;
  background: #1f1f1f;
}

.btn-red {
  color: #ffffff;
  background: #da291c;
}

.btn-red-bordered {
  color: #1f1f1f;
  border: 1px solid #da291c;
}

.btn-gray-bordered {
  color: #1f1f1f;
  border: 1px solid #1f1f1f;
}

.btn-lightgray-bordered {
  color: #585e63;
  border: 1px solid #b4b4b4;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #373941;
}

[type="radio"]:checked + label small,
[type="radio"]:not(:checked) + label small {
  color: #373941;
}

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #dfe0eb;
  border-radius: 100%;
  background: #fff;
}

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: "";
  width: 12px;
  height: 12px;
  background: #f87da9;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

[type="radio"]:checked + label:before {
  border-color: #da291c;
}

[type="radio"]:checked + label::after {
  background-color: #da291c;
}

/* The container */
.custom-checkbox {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 18px;
  color: #585e63;
}

/* Hide the browser's default checkbox */
.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 4px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #ffffff;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

/* On mouse-over, add a grey background color */
.custom-checkbox:hover input ~ .checkmark {
  background: #e9ecef;
}

/* When the checkbox is checked, add a blue background */
.custom-checkbox input:checked ~ .checkmark {
  background: #da291c;
  border: 1px solid #da291c;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.custom-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.custom-checkbox .checkmark:after {
  left: 6px;
  top: 1px;
  width: 6px;
  height: 13px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.form-switch {
  display: flex;
  align-items: center;
}

.form-switch .form-check-input {
  width: 3em;
  height: 1.5em;
  cursor: pointer;
  border: 1px solid #dfe0eb;
  background-repeat: no-repeat;
  background-position: 2px center;
  background-image: url(./assets/images/switch-off-bg.png);
}

.form-switch .form-check-input:focus {
  box-shadow: none;
  background-image: url(./assets/images/switch-off-bg.png);
}

.form-switch .form-check-input:checked {
  background-color: #da291c;
  border: 1px solid transparent;
  background-position: right 2px center;
  background-image: url(./assets/images/switch-on-bg.png);
}

.form-switch .form-check-label {
  font-size: 18px;
  color: #373941;
  line-height: 32px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.range-slider {
  margin: 30px 0 0 0%;
}

.range-slider > p {
  color: #373941;
  line-height: 18px;
}

.range-slider {
  width: 100%;
}

.range-slider__range {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 4px;
  background: #d7dcdf;
  outline: none;
  padding: 0;
  margin: 0;
  border: 1px solid #efefef;
}

.range-slider__range::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #da291c;
  cursor: pointer;
  transition: background 0.15s ease-in-out;
}

.range-slider__range::-webkit-slider-thumb:hover {
  background: #da291c;
}

.range-slider__range:active::-webkit-slider-thumb {
  background: #da291c;
}

.range-slider__range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: #da291c;
  cursor: pointer;
  transition: background 0.15s ease-in-out;
}

.range-slider__range::-moz-range-thumb:hover {
  background: #da291c;
}

.range-slider__range:active::-moz-range-thumb {
  background: #da291c;
}

.range-slider__value {
  position: relative;
  text-align: center;
  padding: 4px 12px;
  background: #eaeaeb;
  border-radius: 4px;
  color: #585e63;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.25px;
}

::-moz-range-track {
  background: #d7dcdf;
  border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0;
}

.dropdown-buttons .dropdown button {
  font-size: 16px;
  color: #585e63;
  box-shadow: none;
  line-height: 20px;
  padding-left: 16px;
  padding-right: 16px;
  font-weight: normal;
  justify-content: space-between;
  background: #ffffff;
  border: 1px solid #585e63;
  width: 100%;
  min-width: auto;
  height: 48px;
}

.dropdown-buttons .dropdown button::after {
  border-top-color: #585e63;
  border-top: 5px solid;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.dropdown-buttons .dropdown button.show {
  color: #373941;
  border: 2px solid #1f1f1f;
}

.dropdown-buttons .dropdown .dropdown-menu.show {
  width: 100%;
  background: #ffffff;
  border: 1px solid #979a9c;
  box-sizing: border-box;
  box-shadow: 0px 4px 16px -8px rgba(31, 31, 31, 0.25);
  border-radius: 4px;
}

.dropdown-buttons .dropdown .dropdown-menu.show .dropdown-item {
  color: #585e63;
  padding: 12px 16px;
  line-height: 20px;
}

.dropdown-buttons .dropdown .dropdown-menu.show .dropdown-item:hover,
.dropdown-buttons .dropdown .dropdown-menu.show .dropdown-item:focus,
.dropdown-buttons .dropdown .dropdown-menu.show .dropdown-item.active {
  background: #f8f8f8;
}

.header {
  display: flex;
  padding: 15px 25px;
  max-height: 100px;
  justify-content: space-between;
}
.header .user {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header .logo {
  align-self: center;
}
.header .logo .image {
  align-self: center;
  max-height: 70%;
  max-width: 70%;
}

.header .user .btn {
  align-self: center;
  padding: 0;
  border: none;
  font-size: 18px;
  color: #585e63;
  line-height: 24px;
  font-weight: normal;
  letter-spacing: 0.25px;
  background: transparent;
  box-shadow: none;
}
.header .user .signout{
  align-self: center;
  
  max-width: 30%;
  max-height: 30%;
}

.header .user .signout:hover{
    cursor: pointer;
}

.header .user .btn:focus {
  box-shadow: none;
}

.header .user .btn img {
  margin-left: 8px;
}

.header .user .btn::after {
  border: 0;
}

.main-wrapper {
  width: 100%;
  display: flex;
  position: absolute;
  background: #f8f9fc;
  height: calc(100% - 80px);
}

/* Updated CSS for sidebar menu */
.main-wrapper .left {
  padding-top: 72px;
  background: #00DBFF;
}
.main-wrapper .left.normal-width {
  width: 280px;
  transition: 0.3s all;
}
.main-wrapper .left.collapsed-width {
  width: 48px;
  transition: 0.3s all;
}
.main-wrapper .left ul li a {
  display: flex;
  font-size: 24px;
  color: #ffffff;
  line-height: 32px;
  margin-right: 32px;
  position: relative;
  align-items: center;
  margin-bottom: 32px;
  padding: 8px 0 8px 32px;
}

.main-wrapper .left ul li a.collapsed {
  padding: 8px 0 8px 8px;
  transition: 0.4s all;
  overflow: hidden;
  width: 100%;
}

/* Update CSS for sidebar menu ends */

.main-wrapper .left ul li a img {
  margin-right: 16px;
}

.main-wrapper .left ul li a span {
  left: 0;
  top: 8px;
  width: 4px;
  opacity: 0;
  height: 32px;
  position: absolute;
  transition: 0.5s;
  background: #ffffff;
  border-radius: 2px 0px 0px 2px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.main-wrapper .left ul li a:hover,
.main-wrapper .left ul li a:focus,
.main-wrapper .left ul li a.active {
  transition: 0.5s;
  background: rgba(31, 31, 31, 0.06);
}

.main-wrapper .left ul li a:hover span,
.main-wrapper .left ul li a:focus span,
.main-wrapper .left ul li a.active span {
  opacity: 1;
  transition: 0.5s;
}

.main-wrapper .right {
  overflow: auto;
  padding: 64px 32px 48px;
  width: calc(100% - 280px);
  flex: 1;
}

.main-wrapper .right .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-wrapper .right .top h1 {
  color: #1f1f1f;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: -0.3px;
  text-shadow: 0px 3px 2px lightgrey;
}

.main-wrapper .right .main-content {
  margin-top: 32px;
  border-radius: 8px;
  background: #ffffff;
  box-sizing: border-box;
  border: 1px solid #dfe0eb;
}

.main-wrapper .right .main-content > h4 {
  margin: 0;
  display: flex;
  font-weight: 600;
  padding: 28px 32px 0;
  align-items: flex-start;
}

.main-wrapper .right .main-content > h4 img {
  margin-right: 10px;
}

.main-wrapper .right .main-content .top {
  padding: 32px 24px;
}

.main-wrapper .right .main-content .top input,
.main-wrapper .right .main-content .top .form-select {
  min-height: 48px;
  border-color: #585e63;
}

.main-wrapper .right .main-content .top .search {
  position: relative;
}

.main-wrapper .right .main-content .top .search::before {
  background: url(./assets/images/search.png) left center no-repeat;
  content: "";
  width: 20px;
  height: 20px;
  z-index: 310;
  position: absolute;
  top: 50%;
  transform: translate(20px, -50%);
}

.main-wrapper .right .main-content .top .search .search-content-remove {
  position: absolute;
  top: 50%;
  right: 20px;
  padding: 0;
  z-index: 311;
  transform: translate(10px, -50%);
  border: 0;
  width: 25px;
  background: transparent;
}

.main-wrapper .right .main-content .top .search input {
  padding-left: 44px;
}

.main-wrapper .right .main-content .custom-table {
  margin-bottom: 0;
}

.main-wrapper .right .main-content .custom-table td,
.main-wrapper .right .main-content .custom-table th {
  font-size: 14px;
  color: #373941;
  line-height: 24px;
  padding: 13px 10px;
  letter-spacing: 0.2px;
  vertical-align: middle;
}

.main-wrapper .right .main-content .custom-table td .btn,
.main-wrapper .right .main-content .custom-table th .btn {
  float: right;
  min-width: 142px;
  margin-right: -8px;
}

.main-wrapper .right .main-content .custom-table td .status,
.main-wrapper .right .main-content .custom-table th .status {
  padding: 5px 12px;
  border-radius: 4px;
  text-transform: uppercase;
}

.main-wrapper .right .main-content .custom-table td .status.off,
.main-wrapper .right .main-content .custom-table th .status.off {
  color: #da291c;
  background: rgba(218, 41, 28, 0.06);
}

.main-wrapper .right .main-content .custom-table td .status.onn,
.main-wrapper .right .main-content .custom-table th .status.onn {
  background: rgba(55, 57, 65, 0.04);
}

.main-wrapper .right .main-content .custom-table td .reading,
.main-wrapper .right .main-content .custom-table th .reading {
  color: #da291c;
  padding: 5px 12px;
  border-radius: 4px;
  text-transform: uppercase;
  background: rgba(218, 41, 28, 0.06);
}

/* .main-wrapper .right .main-content .custom-table td p,
.main-wrapper .right .main-content .custom-table th p {
  min-width: 260px;
} */

.main-wrapper .right .main-content .custom-table td p img,
.main-wrapper .right .main-content .custom-table th p img {
  margin-right: 10px;
}

/* updated css */
.main-wrapper .right .main-content .custom-table th {
  font-size: 18px;
  /* min-width: 110px; */
  color: #1f1f1f;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: -0.3px;
}

.main-wrapper .right .main-content .custom-table td:first-of-type,
.main-wrapper .right .main-content .custom-table th:first-of-type {
  padding-left: 32px;
}

.main-wrapper .right .main-content .custom-table td:last-of-type,
.main-wrapper .right .main-content .custom-table th:last-of-type {
  padding-right: 32px;
}

.main-wrapper .right .main-content .custom-table th {
  border-bottom-color: transparent;
}

.main-wrapper .right .main-content .bottom {
  display: flex;
  padding: 24px 32px 35px;
  align-items: center;
  justify-content: space-between;
}

.main-wrapper .right .main-content .bottom p {
  color: #585e63;
  margin-bottom: 0;
}

.main-wrapper .right .main-content .bottom nav ul li a {
  width: 32px;
  color: #585e63;
  border: 1px solid #b4b4b4;
  box-sizing: border-box;
  border-radius: 2px;
  margin-right: 15px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.main-wrapper .right .main-content .bottom nav ul li a:focus,
.main-wrapper .right .main-content .bottom nav ul li a:hover,
.main-wrapper .right .main-content .bottom nav ul li a.active {
  box-shadow: none;
  color: #ffffff;
  background-color: #da291c;
}

.main-wrapper .right .main-content .bottom nav ul li a img {
  width: 10px;
  height: 16px;
}

.main-wrapper .right .item-box {
  display: flex;
  padding: 24px 32px;
  border-radius: 8px;
  align-items: center;
  background: #ffffff;
  box-sizing: border-box;
  border: 1px solid #dfe0eb;
}

.main-wrapper .right .item-box .icon-wrapper {
  width: 64px;
  height: 64px;
  display: flex;
  min-width: 64px;
  margin-right: 24px;
  border-radius: 64px;
  align-items: center;
  justify-content: center;
  background: rgba(218, 41, 28, 0.05);
}

.main-wrapper .right .item-box .item-info p {
  margin: 0;
  font-size: 16px;
  color: #585e63;
  line-height: 24px;
  letter-spacing: 0.25px;
}

.main-wrapper .right .item-box .item-info h3 {
  margin: 0;
}

.main-wrapper .right .item-box .item-info h3.off {
  color: #da291c;
}

.main-wrapper .right .last-reading-box {
  margin-top: 32px;
  padding: 32px 24px;
  border-radius: 8px;
  padding-bottom: 24px;
  background: #ffffff;
  box-sizing: border-box;
  border: 1px solid #dfe0eb;
}

.main-wrapper .right .last-reading-box .title-area {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.main-wrapper .right .last-reading-box .title-area h4 {
  display: flex;
  font-weight: 600;
  align-items: center;
  color: #1f1f1f;
}

.main-wrapper .right .last-reading-box .title-area h4 img {
  margin-right: 10px;
}

.main-wrapper .right .last-reading-box .weather-content {
  display: flex;
  padding-top: 24px;
  justify-content: space-between;
}

.main-wrapper .right .last-reading-box .weather-content .item-box {
  padding: 22px;
}

@media (max-width: 1399.98px) {
  .main-wrapper .right .last-reading-box .weather-content .item-box {
    padding: 10px;
    margin-bottom: 15px;
  }
}

.main-wrapper
  .right
  .last-reading-box
  .weather-content
  .item-box
  .icon-wrapper {
  margin-right: 14px;
}

.main-wrapper .right .last-reading-box .weather-content .row > div .item-box {
  border-radius: 0;
}

.main-wrapper
  .right
  .last-reading-box
  .weather-content
  .row
  > div
  .item-box
  img {
  min-width: 30px;
}

.main-wrapper
  .right
  .last-reading-box
  .weather-content
  .row
  > div:first-of-type
  .item-box {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.main-wrapper
  .right
  .last-reading-box
  .weather-content
  .row
  > div:last-of-type
  .item-box {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.main-wrapper .right .last-reading-box .weather-content .outlet-status {
  min-width: 230px;
  margin-left: 20px;
}

.main-wrapper .right .device-schedule {
  margin-top: 32px;
  padding: 32px 24px;
  border-radius: 8px;
  padding-bottom: 24px;
  background: #ffffff;
  box-sizing: border-box;
  border: 1px solid #dfe0eb;
}

.main-wrapper .right .device-schedule .title-area {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.main-wrapper .right .device-schedule .title-area h4 {
  display: flex;
  font-weight: 600;
  align-items: center;
  color: #1f1f1f;
}

.main-wrapper .right .device-schedule .title-area h4 img {
  margin-right: 10px;
}

.main-wrapper .right .device-schedule .title-area h4 span {
  color: #da291c;
}

.main-wrapper .right .device-schedule .title-area button:first-of-type {
  margin-right: 15px;
}

.main-wrapper .right .device-schedule p {
  color: #585e63;
  padding-top: 10px;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 10px;
  letter-spacing: 0.2px;
}

.main-wrapper .right .device-schedule .weekends-weekdays {
  display: flex;
  align-items: center;
  padding-top: 22px;
  justify-content: space-between;
}

.main-wrapper .right .device-schedule .weekends-weekdays .row {
  padding: 16px 0;
}

.main-wrapper .right .device-schedule .weekends-weekdays label,
.main-wrapper .right .device-schedule .weekends-weekdays .weekdays {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -0.3px;
  color: #1f1f1f;
}

.main-wrapper .right .device-schedule .weekends-weekdays .weekdays {
  color: #da291c;
  border-bottom: 1px solid #efeff5;
}

.main-wrapper
  .right
  .device-schedule
  .weekends-weekdays
  .dropdown-buttons
  .dropdown
  button {
  height: 56px;
}

.main-wrapper
  .right
  .device-schedule
  .weekends-weekdays
  .dropdown-buttons
  .dropdown
  button
  .button-left {
  display: flex;
  align-items: center;
}

.main-wrapper
  .right
  .device-schedule
  .weekends-weekdays
  .dropdown-buttons
  .dropdown
  button
  .button-left
  img {
  width: 20px;
  height: 32px;
}

.main-wrapper
  .right
  .device-schedule
  .weekends-weekdays
  .dropdown-buttons
  .dropdown
  button
  .button-left
  .button-text
  p {
  padding: 0;
  font-size: 14px;
  line-height: 14px;
}

.main-wrapper
  .right
  .device-schedule
  .weekends-weekdays
  .dropdown-buttons
  .dropdown
  button
  .button-left
  .button-text
  .time {
  font-size: 18px;
  line-height: 20px;
  color: #373941;
}

.main-wrapper
  .right
  .device-schedule
  .weekends-weekdays
  .dropdown-buttons
  .dropdown
  .dropdown-menu.show
  .dropdown-item:hover,
.main-wrapper
  .right
  .device-schedule
  .weekends-weekdays
  .dropdown-buttons
  .dropdown
  .dropdown-menu.show
  .dropdown-item:focus,
.main-wrapper
  .right
  .device-schedule
  .weekends-weekdays
  .dropdown-buttons
  .dropdown
  .dropdown-menu.show
  .dropdown-item.active {
  color: lightgray;
  background-color: transparent;
}

.main-wrapper .right .device-schedule .weekends-weekdays .close {
  background: #efefef;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 18px 14px;
  border: 0;
}

.main-wrapper .right .device-schedule .separator {
  border-bottom: 1px solid #efeff5;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  width: 100%;
  height: 1px;
}

.main-wrapper .right .device-schedule .separator + p {
  font-size: 16px;
}

.main-wrapper .right .device-schedule .dropdown-buttons .dropdown button {
  height: 56px;
}

.main-wrapper .right .device-schedule .range-slider > p {
  color: #373941;
  line-height: 18px;
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
}

.main-wrapper .right .device-schedule .slider-buttons .close,
.main-wrapper .right .device-schedule .slider-buttons .yes {
  background: #efefef;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 18px 14px;
  border: 0;
}

.main-wrapper .right .device-schedule .slider-buttons .yes {
  background: #da291c;
}

.main-wrapper .right .device-schedule .custom-table {
  margin-top: 40px;
}

.main-wrapper .right .device-schedule .custom-table td,
.main-wrapper .right .device-schedule .custom-table th {
  vertical-align: middle;
}

.main-wrapper .right .device-schedule .custom-table td button,
.main-wrapper .right .device-schedule .custom-table th button {
  background: #efefef;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border: 0;
}

.main-wrapper .right .device-schedule .custom-table th {
  vertical-align: middle;
}

.main-wrapper .right .device-schedule .custom-table th button {
  display: initial;
  flex-direction: row;
  padding: 0;
}

.main-wrapper .right .device-schedule .device-rules-table th,
.main-wrapper .right .device-schedule .device-rules-table td {
  border-bottom: 0;
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .weather-content .item-box {
    padding: 24px 7px !important;
  }
  .weather-content .item-box h3 {
    font-size: 24px;
  }
}

/* Time Picker CSS */
.time-picker {
  font-size: 16px;
  color: #585e63;
  box-shadow: none;
  line-height: 20px;
  padding-left: 16px;
  padding-right: 16px;
  font-weight: normal;
  justify-content: space-between;
  background: #ffffff;
  border: 1px solid #585e63;
  width: 100%;
  min-width: auto;
  height: 60px;
}

.time-picker:hover {
  background-color: white;
}

.time-picker .picker-header {
  position: absolute;
  top: -11px;
  font-size: 11px;
  color: black;
}

.time-picker .picker-header:hover {
  color: black;
}

.rule-duration .dropdown-menu {
  max-height: 230px;
  overflow-y: scroll;
}

/* Pagination CSS */
.main-wrapper .right .main-content .bottom nav ul li button.page-link {
  box-shadow: none;
  color: #585e63;
  margin-left: 8px;
}

.main-wrapper .right .main-content .bottom nav ul li button.page-link:focus,
.main-wrapper .right .main-content .bottom nav ul li button.page-link:hover,
.main-wrapper .right .main-content .bottom nav ul li button.page-link.active {
  box-shadow: none;
  color: #ffffff;
  background-color: #da291c;
}

/* Rules Table CSS */
.main-wrapper .device-schedule .table.custom-table td .status {
  padding: 5px 12px;
  border-radius: 4px;
  text-transform: uppercase;
  margin-left: 5px;
}

.main-wrapper .device-schedule .table.custom-table td .status.off {
  color: #da291c;
  background: rgba(218, 41, 28, 0.06);
}

.main-wrapper .device-schedule .table.custom-table td .status.onn {
  background: rgba(55, 57, 65, 0.04);
}

/* Loader Spinner CSS */
.centered {
  height: 100vh; /* Magic here */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -7rem;
}

.loader-sm {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-sm svg {
  width: 50px;
}

/* Date Time Range CSS */
.dropdown.date-time-range .ant-picker.ant-picker-range {
  height: 48px;
  border-color: #585e63;
  border-radius: 4px;
  width: 100%;
}

/* Admin Refresh Btn css */
.btn-refresh:hover {
  color: white;
  background-color: #b9190e;
}

/* Alarm Reading column CSS */
.main-wrapper .right .main-content .custom-table td .reading.text-not-uppercase,
.main-wrapper
  .right
  .main-content
  .custom-table
  th
  .reading.text-not-uppercase {
  text-transform: none;
}

/* Table CSS for responsive */
@media only screen and (min-width: 1200px) and (max-width: 1400px) {
  .main-wrapper .right .main-content .custom-table td p,
  .main-wrapper .right .main-content .custom-table th p {
    /* min-width: 160px; */
  }
  .main-wrapper .right .main-content .custom-table td,
  .main-wrapper .right .main-content .custom-table th {
    /* min-width: 50px; */
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .main-wrapper .right .main-content .custom-table td p,
  .main-wrapper .right .main-content .custom-table th p {
    /* min-width: 100px; */
  }
  .main-wrapper .right .main-content .custom-table td,
  .main-wrapper .right .main-content .custom-table th {
    /* min-width: 106px; */
  }
}

/* Device Info CSS */
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .main-wrapper .right .last-reading-box .weather-content .row > div .item-box {
    border-radius: 8px;
  }

  .main-wrapper .right .main-content .custom-table td,
  .main-wrapper .right .main-content .custom-table th {
    min-width: 60px;
  }
}

@media (min-width: 1200px) {
  h3,
  .h3 {
    font-size: 1rem;
  }
}

@media (max-width: 992px) {
  .main-wrapper .left.collapsed-fixed {
    width: 48px;
    transition: 0s all;
  }
}

.signIn {
  display: grid;
  grid-template-rows: 50px 150px 200px;
  background-color: #ffffff;
  width: 400px;
  height: 400px;
  margin: 7em auto;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.signIn .signInButton {
    justify-self:center;
    place-self: center;
    cursor: pointer;
    border-radius: 1em;
    color: #fff;
    background: #40c9fb;
    /* linear-gradient(to right, #27b055, #40fb6f); */
    border: 0;
    padding : 15px 15px 15px 15px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.signIn .logo{
  
  place-self: center;
  max-width: 80%;
}